
#username{
    background: url("../img/username.png") no-repeat ;
}

#username_re{
    background: url("../img/用户.png") no-repeat ;
}

#password{
    background: url("../img/password.png") no-repeat ;
}

#password_re{
    background: url("../img/密码.png") no-repeat ;
}

#rpassword{
    background: url("../img/duihao.png") no-repeat ;
}
#email{
    background: url("../img/email.png") no-repeat ;
}








































