<!DOCTYPE html>
<html>
    {% include '_header.html' %}

  <!-- Content Wrapper. Contains page content -->
  <div class="content-wrapper">
    <!-- Content Header (Page header) -->
    <section class="content-header">
      <h1>
        您好！
        <small>这儿都是医学小常识哦！</small>
      </h1>
      <ol class="breadcrumb">
        <li><a href="./board"><i class="fa fa-dashboard"></i> 主页</a></li>
        <li class="active">医学常识</li>
      </ol>
    </section>

    <!-- Main content -->
    <section class="content">
      <!-- Main row -->
      <div class="row">
        <!-- Left col -->
        <section class="col-lg-6 connectedSortable">
          <!-- Custom tabs (Charts with tabs)-->
          <!-- /.nav-tabs-custom -->


            <!-- Box Comment -->
            <div class="box box-widget">
              <div class="box-header with-border">
                <div class="user-block">
              
                  <span class="username"><a href="https://news.xmu.edu.cn/">厦大附属中山医院</a></span>
                  <span class="description">共享公开 - 7:30 PM 今天</span>
                </div>
                <!-- /.user-block -->
                <div class="box-tools">
                  <button type="button" class="btn btn-box-tool" data-toggle="tooltip" title="Mark as read">
                    <i class="fa fa-circle-o"></i></button>
                  <button type="button" class="btn btn-box-tool" data-widget="collapse"><i class="fa fa-minus"></i>
                  </button>
                  <button type="button" class="btn btn-box-tool" data-widget="remove"><i class="fa fa-times"></i></button>
                </div>
                <!-- /.box-tools -->
              </div>
              <!-- /.box-header -->
              <div class="box-body">
                <img class="img-responsive pad" src="../static/img/1.jpg" alt="Photo">  
                <p>喝下午茶有益增强记忆，不应用保温杯喝茶。</p>
                <button type="button" class="btn btn-default btn-xs"><i class="fa fa-share"></i> 分享</button>
                <button type="button" class="btn btn-default btn-xs"><i class="fa fa-thumbs-o-up"></i> 喜欢</button>
              </div>
              <!-- /.box-body -->

              <!-- /.box-footer -->
              <!-- /.box-footer -->
            </div>
            <!-- /.box -->





        </section>
        <section class="col-lg-6 connectedSortable">
          <!-- Custom tabs (Charts with tabs)-->
          <!-- /.nav-tabs-custom -->


            <!-- Box Comment -->
            <div class="box box-widget">
              <div class="box-header with-border">
                <div class="user-block">
                  <span class="username"><a href="https://library.xmu.edu.cn/">厦大附属中山医院</a></span>
                  <span class="description">共享公开 - 7:30 PM 今天</span>
                </div>
                <!-- /.user-block -->
                <div class="box-tools">
                  <button type="button" class="btn btn-box-tool" data-toggle="tooltip" title="Mark as read">
                    <i class="fa fa-circle-o"></i></button>
                  <button type="button" class="btn btn-box-tool" data-widget="collapse"><i class="fa fa-minus"></i>
                  </button>
                  <button type="button" class="btn btn-box-tool" data-widget="remove"><i class="fa fa-times"></i></button>
                </div>
                <!-- /.box-tools -->
              </div>
              <!-- /.box-header -->
              <div class="box-body">
                <img class="img-responsive pad" src="../static/img/2.jpg" alt="Photo">
  
                <p>冬季养生宜多食热粥。</p>
                <button type="button" class="btn btn-default btn-xs"><i class="fa fa-share"></i> 分享</button>
                <button type="button" class="btn btn-default btn-xs"><i class="fa fa-thumbs-o-up"></i> 喜欢</button>
              </div>
              <!-- /.box-body -->

              <!-- /.box-footer -->
              <!-- /.box-footer -->
            </div>
            <!-- /.box -->





        </section>
      </div>
      <div class="row">
        <section class="col-lg-6 connectedSortable">
          <!-- Custom tabs (Charts with tabs)-->
          <!-- /.nav-tabs-custom -->


            <!-- Box Comment -->
            <div class="box box-widget">
              <div class="box-header with-border">
                <div class="user-block">
                  
                  <span class="username"><a href="#">厦大附属中山医院</a></span>
                  <span class="description">共享公开 - 7:30 PM 今天</span>
                </div>
                <!-- /.user-block -->
                <div class="box-tools">
                  <button type="button" class="btn btn-box-tool" data-toggle="tooltip" title="Mark as read">
                    <i class="fa fa-circle-o"></i></button>
                  <button type="button" class="btn btn-box-tool" data-widget="collapse"><i class="fa fa-minus"></i>
                  </button>
                  <button type="button" class="btn btn-box-tool" data-widget="remove"><i class="fa fa-times"></i></button>
                </div>
                <!-- /.box-tools -->
              </div>
              <!-- /.box-header -->
              <div class="box-body">
                <img class="img-responsive pad" src="../static/img/3.jpg" alt="Photo">
  
                <p>每天一杯咖啡好处多。</p>
                <button type="button" class="btn btn-default btn-xs"><i class="fa fa-share"></i> 分享</button>
                <button type="button" class="btn btn-default btn-xs"><i class="fa fa-thumbs-o-up"></i> 喜欢</button>
              </div>
              <!-- /.box-body -->

              <!-- /.box-footer -->
              <!-- /.box-footer -->
            </div>
            <!-- /.box -->





        </section>
        <section class="col-lg-6 connectedSortable">
          <!-- Custom tabs (Charts with tabs)-->
          <!-- /.nav-tabs-custom -->


            <!-- Box Comment -->
            <div class="box box-widget">
              <div class="box-header with-border">
                <div class="user-block">
                  
                  <span class="username"><a href="#">厦大附属中山医院</a></span>
                  <span class="description">共享公开 - 7:30 PM 今天</span>
                </div>
                <!-- /.user-block -->
                <div class="box-tools">
                  <button type="button" class="btn btn-box-tool" data-toggle="tooltip" title="Mark as read">
                    <i class="fa fa-circle-o"></i></button>
                  <button type="button" class="btn btn-box-tool" data-widget="collapse"><i class="fa fa-minus"></i>
                  </button>
                  <button type="button" class="btn btn-box-tool" data-widget="remove"><i class="fa fa-times"></i></button>
                </div>
                <!-- /.box-tools -->
              </div>
              <!-- /.box-header -->
              <div class="box-body">
                <img class="img-responsive pad" src="../static/img/5.jpg" alt="Photo">
  
                <p>步行适量能使大脑更年轻。</p>
                <button type="button" class="btn btn-default btn-xs"><i class="fa fa-share"></i> 分享</button>
                <button type="button" class="btn btn-default btn-xs"><i class="fa fa-thumbs-o-up"></i> 喜欢</button>

              </div>
              <!-- /.box-body -->

              <!-- /.box-footer -->
              <!-- /.box-footer -->
            </div>
            <!-- /.box -->





        </section>
      </div>
      </div>
      <!-- /.row (main row) -->

    </section>
    <!-- /.content -->
  </div>

<!-- jQuery 2.2.3 -->
<script src="../static/js/jquery-2.2.3.min.js"></script>
<!-- jQuery UI 1.11.4 -->
<script src="https://code.jquery.com/ui/1.11.4/jquery-ui.min.js"></script>
<!-- Resolve conflict in jQuery UI tooltip with Bootstrap tooltip -->
<script>
  $.widget.bridge('uibutton', $.ui.button);
</script>
<!-- Bootstrap 3.3.6 -->
<script src="../static/js/bootstrap.min.js"></script>
<!-- Morris.js charts -->
<script src="https://cdnjs.cloudflare.com/ajax/libs/raphael/2.1.0/raphael-min.js"></script>
<script src="../static/js/morris.min.js"></script>
<!-- Sparkline -->
<script src="../static/js/jquery.sparkline.min.js"></script>
<!-- jvectormap -->
<script src="../static/js/jquery-jvectormap-1.2.2.min.js"></script>
<script src="../static/js/jquery-jvectormap-world-mill-en.js"></script>
<!-- jQuery Knob Chart -->
<script src="../static/js/jquery.knob.js"></script>
<!-- daterangepicker -->
<script src="https://cdnjs.cloudflare.com/ajax/libs/moment.js/2.11.2/moment.min.js"></script>
<script src="../static/js/daterangepicker.js"></script>
<!-- datepicker -->
<script src="../static/js/bootstrap-datepicker.js"></script>
<!-- Bootstrap WYSIHTML5 -->
<script src="../static/js/bootstrap3-wysihtml5.all.min.js"></script>
<!-- Slimscroll -->
<script src="../static/js/jquery.slimscroll.min.js"></script>
<!-- FastClick -->
<script src="../static/js/fastclick.js"></script>
<!-- AdminLTE App -->
<script src="../static/js/app.min.js"></script>
<!-- AdminLTE dashboard demo (This is only for demo purposes) -->
<script src="../static/js/dashboard.js"></script>
<!-- AdminLTE for demo purposes -->
<script src="../static/js/demo.js"></script>
</body>
</html>
