<!DOCTYPE html>
<html>
{% include '_header.html' %}

<div class="content-wrapper">
    <section class="content-header">
        <h1>
            您好！
            <small>这儿都是推荐商品哦！</small>
        </h1>
        <ol class="breadcrumb">
            <li><a href="#"><i class="fa fa-dashboard"></i> 主页</a></li>
            <li class="active">我的</li>
        </ol>
    </section>


    <section class="content">
        <!-- Small boxes (Stat box) -->
        <div class="row">
            <div class="col-lg-3 col-xs-6" >
                <!-- small box -->
                <div class="small-box bg-aqua" style="background:url(../static/img/obj1.jpg)">
                    <div class="inner">
                        <h3>按摩仪</h3>
                        <h4>100</h4>
                    </div>
                    <div class="icon">
                        <i class="ion ion-bag"></i>
                    </div>
                    <a href="#" class="small-box-footer">购买链接 <i class="fa fa-arrow-circle-right"></i></a>
                </div>
            </div>
            <div class="col-lg-3 col-xs-6">
                <!-- small box -->
                <div class="small-box bg-aqua" style="background:url(../static/img/obj2.jpg)">
                    <div class="inner">
                        <h3>医疗箱</h3>
                        <h4>100</h4>
                    </div>
                    <div class="icon">
                        <i class="ion ion-bag"></i>
                    </div>
                    <a href="#" class="small-box-footer">购买链接 <i class="fa fa-arrow-circle-right"></i></a>
                </div>
            </div>
            <div class="col-lg-3 col-xs-6" >
                    <!-- small box -->
                    <div class="small-box bg-aqua" style="background:url(../static/img/obj4.jpg)">
                        <div class="inner">
                            <h3>椅子</h3>
                            <h4>100</h4>
                        </div>
                        <div class="icon">
                            <i class="ion ion-bag"></i>
                        </div>
                        <a href="#" class="small-box-footer">购买链接 <i class="fa fa-arrow-circle-right"></i></a>
                    </div>
                </div>
                <div class="col-lg-3 col-xs-6">
                    <!-- small box -->
                    <div class="small-box bg-aqua" style="background:url(../static/img/obj7.jpg)">
                        <div class="inner">
                            <h3>鲜花</h3>
                            <h4>100</h4>
                        </div>
                        <div class="icon">
                            <i class="ion ion-bag"></i>
                        </div>
                        <a href="#" class="small-box-footer">购买链接 <i class="fa fa-arrow-circle-right"></i></a>
                    </div>
                </div>

        </div>

        <div class="row">
                <div class="col-lg-3 col-xs-6" >
                    <!-- small box -->
                    <div class="small-box bg-aqua" style="background:url(../static/img/obj8.jpg)">
                        <div class="inner">
                            <h3>荔枝</h3>
                            <h4>100</h4>
                        </div>
                        <div class="icon">
                            <i class="ion ion-bag"></i>
                        </div>
                        <a href="#" class="small-box-footer">购买链接 <i class="fa fa-arrow-circle-right"></i></a>
                    </div>
                </div>
                <div class="col-lg-3 col-xs-6">
                    <!-- small box -->
                    <div class="small-box bg-aqua" style="background:url(../static/img/obj6.jpg)">
                        <div class="inner">
                            <h3>三只松鼠</h3>
                            <h4>100</h4>
                        </div>
                        <div class="icon">
                            <i class="ion ion-bag"></i>
                        </div>
                        <a href="#" class="small-box-footer">购买链接 <i class="fa fa-arrow-circle-right"></i></a>
                    </div>
                </div>
    
            </div>



    </section>
</div>


{% include '_rear.html' %}

</html>